a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.nav-item{
    display: flex;
    justify-content: center;
}
.nav-item a{
    margin-right: 40px;
    font-size: 30px;
}
a:hover{
    text-decoration: underline;
}